In [2]:
import mysql.connector
conn = mysql.connector.connect(user='jupiter', password='JupiterGroup$42',
                              host='localhost')
mycursor = conn.cursor()
mycursor.execute('CREATE DATABASE andromeda')